# Pastas de build
bin/
obj/

# Arquivos do Visual Studio
.vs/

# Logs
*.log

# Configurações locais
*.user
*.suo
*.userosscache
*.sln.docstates

# Cache do NuGet
*.nupkg
packages/
/Desenvolvimento de API com .NET
/docs
/Entity Framework
/Mergulhando em DDD
/Qualidade de Software
/Qualidade de Software - Pirâmide de Testes
/README.md
